@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");

$font-family-sans-serif: "Catamaran", sans-serif;
$body-font-family: "Catamaran", sans-serif;

$theme-colors: (
  "primary": #8aea92,
  "secondary": #cd5334,
  "white": white,
  "dark": #0b0a07,
);

$colors: (
  "primary": #8aea92,
  "secondary": #cd5334,
  "white": white,
  "dark": #0b0a07,
);

// Accordion custom styles
$accordion-button-active-color: #cd5334;
$accordion-button-active-bg: #fff;
$accordion-button-focus-border-color: #8aea92;
$accordion-button-focus-box-shadow: 0 0 0 2px #cd5334;

// Navbar custom styles
.navbar-toggler:focus {
  box-shadow: 0 0 0 2px #8aea92 !important;
}

$link-color: #8aea92;

$bg-colors: (
  "primary": #8aea92,
  "secondary": #cd5334,
  "white": white,
  "dark": rgb(11, 10, 7),
);

@import "~bootstrap/scss/bootstrap";
