@keyframes fadeUp {
  from {
    transform: translateY(40px);
  }
  to {
    transform: translateY(0);
  }
}

.fadeUpAnimation {
  transition: fadeUp 1s;
  animation-name: fadeUp;
  animation-duration: 1s;
}

.opacityAnimation {
  transition: opacity 1s;
}

.show {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .project-row {
    flex-direction: row !important;
    align-items: center;
  }

  .hide {
    opacity: 0;
  }
}
